@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Anton", sans-serif;
  --font-sans: "Inter", sans-serif;

  --color-brand-dark: #1a103c;
  --color-brand-purple: #7c3aed;
  --color-brand-light: #f3f0ff;
  --color-brand-accent: #fb7185;

  --animate-spin-slow: spin 10s linear infinite;
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px currentColor;
    color: transparent;
  }
  .text-outline-2 {
    -webkit-text-stroke: 2px currentColor;
    color: transparent;
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: #ffffff;
  color: var(--color-brand-dark);
  overflow-x: hidden;
}
